@page "/register"
@using CosoParaProgramacion3Movil.Models
@using CosoParaProgramacion3Movil.Services

@inject NavigationManager navigationManager
@inject UsuarioService usuarioService

@inject AuthService sesionService

<h3>

        <span>Editar Usuario</span>

</h3>

<div class="form-group">
    <label>Nombre de usuario</label>
    <input class="form-control" @bind="nombreNuevo" placeholder="Ingrese su nombre" />
</div>

<div class="form-group">
    <label>Contraseña</label>
    <input type="password" class="form-control" @bind="contrasenaNuevo" placeholder="Ingrese su contraseña" />
</div>

<div class="form-group">
    <label>Imagen</label>
    <input class="form-control" @bind="imagenNuevo" placeholder="Ingrese/La/Ruta/Para/Su/Imagen" />
</div>

<div class="text-center mt-3">
    <button class="btn btn-primary" @onclick="Volver">Cancelar</button>
    <button class="btn btn-success" @onclick="Grabar">Registrarse</button>
</div>


@code {

    public Usuario usuario;

    string nombreNuevo;
    string contrasenaNuevo;
    string rolNuevo = "basico";
    string imagenNuevo;

    protected override void OnParametersSet()
    {
        try
        {
            usuario = new Usuario();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    public void Volver()
    {
        // Navegar a la página de edición del producto
        navigationManager.NavigateTo($"/");
    }

    public async Task Grabar()
    {
        if (nombreNuevo is null || contrasenaNuevo is null || imagenNuevo is null)
        {
            return;
        }

        usuario.Name = nombreNuevo;
        usuario.Password = contrasenaNuevo;
        usuario.Role = rolNuevo;
        usuario.Imagen = imagenNuevo;

        usuarioService.CreateUsuario(usuario);

        sesionService.LoginAsync(usuario.Name, usuario.Password);

        navigationManager.NavigateTo("/");
    }
}
